header {
  grid-column: 1/4;
  grid-row: 1/2;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  padding-top: 1px;
  background-color: black;
}

section {
  grid-column: 2/3;
  grid-row: 2/3;
  vertical-align: middle;
  padding: 0px;
  color: grey;
  padding: 80px 0px;
  margin-bottom: 5%;
}

section h3{
  font-size: 25px;
}

section p {
  text-indent: 20px;
  font-size: 18px;
}

.mainContainer{
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 20% 80%;
  height: 200vh;
}

.background {
  background-image: url("../personal_background.jpg");
  background-size: contain;
  background-position: center;
  background-size: cover;
  margin: 1%;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  height: 25%;

}

.background h1 {
  font-size: 60px;
  color: white;
  animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  margin: 0px;
}

.underBackground {
  display: flex;
  justify-content: space-between;
}

.navigationBox {
display: flex;
flex-direction: column;
width: 65%;
align-items: center;
text-align: center;
}

.underBackground img {
  height: 55%;
  animation-name: rotate-scale-up;
  animation-duration: 1.5s;
}

.underBackground h2 {
  color: #033949;
  text-decoration: none;
  text-transform: uppercase;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  background-color: #a4ff4a;
  border: 10px solid #033949;
  width: 50%;

}
.logo{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 18%;
}

.contactpar {
  text-align: center;
  font-size: 20px;
}

.showDataTable{
  grid-column: 2/3;
  grid-row: 1/3;
}
 /*
  *
  * Main Navigation bar
  *
  */

.listaNav {
    list-style: none;
    display: flex;
}
.navigationBox li {
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}
.navigationBox a:hover, a:focus, a:active {
    color: #999;
    text-decoration: none;
}
.navigationBox a {
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
.navigationBox a {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: white;
}
.navigationBox a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: white;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
.navigationBox a:active::before {
    background-color: #000;
}
.navigationBox a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

/*
 *
 * Other Navitacion Bar
 *
 */
 .delete{
    display: none;
}

 .otherNav ul, .fuera ul {
   text-align: left;
 }
 .otherNav li, .fuera li, .otherNav a, .fuera a{
   padding: 0px 0px;
 }

 .otherNav a .fuera a{
   padding: 0px 0px;
}
.otherNav img, .fuera img {
  width: 10%
}

.fuera {
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background-color: black;
  animation: scale-out-vertical 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.otherNav {
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background-color: black;
  animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.otherNavlogo{
  display: flex;
  justify-content: flex-end;
  width: 30%;
}
.otherNavContainer {
  width: 70%;
}

.otherNavContainer a {
  font-size: 12px;

}

/**
  *  List Style
  */

.rulesHeader {
  text-align: center;
}

.letterStyle {
  list-style-type: lower-alpha;
}

.titleList {
  font-weight: bold;
}

.squareStyle {
  list-style-type: square;
}

/**
  *  Table Style
  */
table, td, th {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 10px 5px;
  margin: 10px 0px 10px 0px;
}

td, th  {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  width: auto;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  text-decoration: underline;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

.dataTable th {
  text-align: center;
}

/*
  *
  * Map Style
  *
 */
.linkSamePage {
   text-decoration: underline;
   color: inherit;
 }
.mapContainer {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mapAndTitle {
  display: flex;
  width: 45%;
  flex-wrap: inherit;
  z-index: -1;
}

.map {
  height: 400px;
  width: 100%;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

/*
  *
  * Form Style
  *
*/

/* Personal Information */

.personalData {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input[type="text"], input[type="email"], input[type="date"], input[type="tel"], input[type="number"]{
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  width: 100%;
  font-size: 25px;
  position: relative;
  top: -25%;
}
input[type="number"] {
  -moz-appearance:textfield;
}
label {
  display: flex;
  align-items: center;
}
.row1 {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px 15px 0px;
}

.row1_1 {
  width: 49%;
  display: flex;
}

.row1_2{
  width: 49%;
  display: flex;
}
.row1 label {
  width: 22%;
}
.row1 input[type="text"] {
  width: 81%;
}

.row2{
  display: flex;
  padding: 15px 0px 15px 0px;
}
.row2 label {
  width: 13%
}
.row2 input[type="text"] {
  width: 88%;
}

.row3 {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px 15px 0px;
}
.row3_1 {
  width: 69%;
  display: flex;
}
.row3_2 {
  width: 50%;
  display: flex;
}
.row3_1 label {
  width: 8%;
}
.row3_1 input[type="text"] {
  width: 88%;
}
.row3_2 label {
  width: 33%;
}
.row3_2 input[type="text"] {
  width: 60%;
}

.row4{
  display: flex;
  justify-content: flex-start;
  padding: 15px 0px 15px 0px;
}
.row4_1 {
  width: 49%;
  display: flex;
}
.row4_2{
  width: 49%;
  display: flex;
  padding: 0px 0px 0px 20px;
}
.row4_1 label {
  width: 22%;
}
.row4_1 input[type="date"] {
  width: 60%;
  font-size: large;
}
.row4_2 label {
  width: 15%;
}
.row4_2 input[type="radio"] {
  margin: 0px 20px;
  position: relative;
  top: -5px;
}
.row5 {
  display: flex;
  padding: 15px 0px 15px 0px;
}
.row5 input[type="radio"] {
  margin: 0px 5px 0px 20px;
}
.row6 {
  display: flex;
  padding: 15px 0px 15px 0px;
}
.row6 label {
  width: 16%
}
.row6 input[type="text"] {
  width: 86%;
}

.row7 {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px 15px 0px;
}

.row7_1 {
  width: 49%;
  display: flex;
}

.row7_2{
  width: 49%;
  display: flex;
}
.row7 label {
  width: 40%;
}
.row7 input[type="text"] {
  width: 71%;
}

.nearSchool {
  display: flex;
  flex-direction: column;
}
.schoolContainer {
  display: flex;
  justify-content: space-around;
}
.firstContiner {
  display: flex;
  flex-direction: column;
}
.firstSchool {
  width: 49%;
  display: flex;
  flex-direction: column;
}
.secondSchool {
  width: 49%;
  display: flex;
  flex-direction: column;
}

.first_closest_school_column1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Elementary School */

.container1 {
  display: flex;
  flex-direction: column;
}

.container2 {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

.container3 {
  display: flex;
  flex-direction: column;
}

.container4 {
  display: flex;
  justify-content: space-between;
}

.container5 {
  display: flex;
  flex-flow: wrap;
}

/*
 * What position(s) do you normally play?
 * What position(s) do you want to play?
 * Already Have a Uniform
 */

.container6 {
  display: flex;
  width: 50%;
  justify-content: space-around;
  padding-bottom: 15px;
}

.container7 {
  display: flex;
  flex-direction: column;
}

.container8 {
  padding: 20px 0px;
}
.container8 label {
  font-weight: bold;
}

.radioTitle {
  padding-bottom: 10px;
  font-weight: bold;
}

/* Jersey Size */

.container9 {
  display: flex;
  justify-content: space-around;
}
.container10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.container11 {
  display: flex;
  justify-content: space-between;
  /* width: 60% */
}
.container12 {
  display: flex;
  flex-direction: column;
}

/* Submit */

.containerSubmit {
  display: flex;
  justify-content: center;
  padding: 110px 0px 20px 0px;
}

.containerSubmit input[type="submit"] {
  color: grey;
  background: transparent;
  border: 2px solid grey;
  border-radius: 6px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  background-color: grey;
  color: white;
  border: 4px solid black;
}
.containerSubmit input[type="submit"]:hover {
  background-color: #a4ff4a;
  color: black;
  font-weight: bold;
}

/* Radio and Checkbox Style */

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: grey;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
  margin: 5px
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #a4ff4a;
}
.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #a4ff4a;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

/*
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */

@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(1) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/*
 * Checkbox and radio buttons animation
 */

 @keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -90px;
    margin-top: -90px;
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation scale-in-ver-center
 * ----------------------------------------
 */
@keyframes scale-in-ver-center {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 0.7;
  }
}

/**
 * ----------------------------------------
 * animation scale-out-vertical
 * ----------------------------------------
 */
@keyframes scale-out-vertical {
  0% {
    transform: scaleY(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
